export PATH=$HOME/.npm-global/bin:$PATH

# how long zsh waits for additional charachters(hundredths of a second, 1=10ms)
# this is noticed, for example, as the delay when leaving insert mode
export KEYTIMEOUT=1

# virtualenvwrapper settings in Fedora
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/workspace
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/bin/virtualenv-3
source /usr/bin/virtualenvwrapper_lazy-3.sh

# npm packages "global" install location
export NPM_CONFIG_PREFIX=$HOME/.npm-global
