# Create a new directory and enter it
function mcd() {
    mkdir -p $1
    cd $1
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
    local port="${1:-8000}"
    xdg-open "http://localhost:${port}/" &
    # statikk is good because it won't expose hidden folders/files by default.
    # yarn global add statikk
    python3 -m http.server "$port"
}

# vim: set filetype=zsh:
